body {
    background-color: black;
}

.calculator {
    max-width: 350px;
    margin: 0 auto;
    background-color: rgb(59, 54, 54);
    padding: 23px;
    border-radius: 13px;
}

.result {
    
    height: 80px;
    padding: 12px;
    font-size: 32px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: right;
    padding: 10px;
    font-size: 32px;
}

.buttons {
    font-size: 1.4rem;
    width: 70px;
    height: 50px;
    margin: 5px;
}
.buttons:hover{
  background-color: rgb(137, 131, 131);
}
.number{
  width: 150px;
}